.AuthContainer {
  display: flex;
  height: 100vh;
  padding-left: 56px;
  // padding-bottom: 75em;

  &Sidebar {
    background-color: #f8f7fa;
    width: 56px;
    border-right: 1px solid #eeedf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;

    &Top,
    &Bottom {
      display: flex;
      flex-direction: column;

      a {
        // padding: 0.5em;
        margin: 0.65em auto;
        width: 45px;
        height: 45px;
        border-radius: 12px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #ffffff;
          cursor: pointer;
        }

        img {
          width: 25px;
          height: 25px;
          flex: 1;
        }

        &.activeLink{
          background-color: #8247e5;
        }
      }
    }
  }

  &Child {
    flex: 1;
  }
}
