@font-face {
  font-family: 'Neue Plak Text';
  src: local('Neue Plak Text Thin'), local('Neue-Plak-Text-Thin'),
      url('./assets/fonts/NeuePlakText-Thin.woff2') format('woff2'),
      url('./assets/fonts/NeuePlakText-Thin.woff') format('woff'),
      url('./assets/fonts/NeuePlakText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: "Neue Plak Text", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}
